# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Python virtual environment
.venv/
venv/

# Generated / uploaded files
generated/

# Logs
*.log


# Playwright browser profile
backend/scripts/playwright/playwright-profile/

# Account / authentication data
playwright/.auth/
storage/
sessions/
cookies/
user-data/

# VS Code / local history
.history/

backend/credentials.json
backend/youtube-accounts/accounts.json

# upload video command
cd .\backend\    
node .\scripts\youtube\youtubeWorker.js